{% extends "layout.html" %}



{% block nav %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <form class="navbar-form navbar-left" role="search">

    <div class="form-group has-feedback">
       <input id='search' type="text" class="form-control hasclear" placeholder="Search usernames...">
       <span class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
    </div>  
    
  </form>
  <ul class="nav navbar-nav navbar-right">
    
    <li class="dropdown">
      
      <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
        Welcome, {{g.user.name}}     
        <img src="{{ url_for('profile_img', username=g.user.username) }}" class="img-circle user_img" alt="...">
      </a>
      

      <ul class="dropdown-menu" role="menu">
        <li><a href="#"  id="aboutmelink"><span class="glyphicon glyphicon-user"></span> About me</a></li>
        


        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </li>
  </ul>

</div><!-- /.navbar-collapse -->

{% endblock %}

{% block content %}
<div id="matches">
  <div class="row">
    {% from 'macros.html' import show_cards %}
    {{ show_cards(profiles) }}

  </div>
  <div class="row">
    {% if prev_num %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
       <div class="pagination_btn">
          <ul class="pager">
            <li class="previous"><a href="{{ url_for('browse', page_num=prev_num) }}">
              <span class="glyphicon glyphicon-chevron-left"> </span> Prev </a>
            </li>
          </ul>
       </div>
    </div>
    {% endif %}
    {% if next_num %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 pull-right">
       <div class="pagination_btn">
          <ul class="pager">
            <li class="next"><a href="{{ url_for('browse', page_num=next_num) }}"> Next 
              <span class="glyphicon glyphicon-chevron-right"> </span></a>
            </li>
          </ul>
       </div>
    </div>
    {% endif %}

  </div>
</div>
<div id="results">
</div>

<!-- Modal Selected user profile -->
<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      

    </div>
  </div>
</div>


<!-- Modal Selected user profile -->
<div class="modal fade" id="myphotos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      

    </div>
  </div>
</div>

{% endblock %}


