{% extends "layout.html" %}


{% block content %}

<div class="row">
  {% for profile in profiles %}



    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card">
      
      <a href="{{ profile.username }}" class="nounderline">  
        <div class="profile_img">
          <img src="{{ url_for('profile_img', username=profile.username) }}"  
               class="img-circle profile_img" alt="...">
        </div>
        <div class="panel panel-default profile_info">
          <div class="panel-body">
            {{ profile.username }}
            <br>
            {{profile.age}}, {{profile.gender}}
          </div>

        </div>
      </a>
    </div>
  {% endfor %}
  {% if prev_num %}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
     <div class="pagination_btn">
        <ul class="pager">
          <li class="previous"><a href="{{ url_for('browse', page_num=prev_num) }}">
            <span class="glyphicon glyphicon-chevron-left"> </span> Prev </a>
          </li>
        </ul>
     </div>
  </div>
  {% endif %}
  {% if next_num %}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 pull-right">
     <div class="pagination_btn">
        <ul class="pager">
          <li class="next"><a href="{{ url_for('browse', page_num=next_num) }}"> Next 
            <span class="glyphicon glyphicon-chevron-right"> </span></a>
          </li>
        </ul>
     </div>
  </div>
  {% endif %}

</div>

  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 pull-right pagination_btn">
  </div>

<!--   <ul class="pager">
    
    <li class="next"><a href="#">Next &rarr;</a></li>
  </ul>
</div>
<div class="row">
  
</div> -->
{% endblock %}
