{% extends "layout.html" %}
{% from 'macros.html' import input %}
{% block nav %}
{% endblock %}

{% block content %}


  <div class="col-lg-4 col-md-5 col-sm-7 col-xs-9 pull-right">
    <div class="panel panel-default">
      <div class="panel-body">

        
        {% if sent %}
          <p>We've Sent you an email.
          Reset your password by clicking the link within the email. <p>

        {% else %}  
        <legend>Forgot Password</legend>
        <form class="form-horizontal" role="form" action="{{ url_for('forgot_password') }}" method=post>
          <fieldset>
          
            {% set f = {} %}
            {% if request is defined %}
            {% set f = request.form %}
            {% endif %}

            {{ input('email', 'Email', error.email, f.email) }}

            <div class="form-group">
              <div class="col-xs-8 col-xs-offset-4">
                
                <button type="submit" class="btn btn-primary" style="-webkit-user-select: auto;">Reset</button>
                </br></br>
                Remember your password? <a href="{{ url_for('login') }}">Login</a></br>
                Need an account? <a href="{{ url_for('register') }}">Register</a>


              </div>
            </div>

          </fieldset>
        </form>
        {% endif %}
    </div>
  </div>
</div>



{% endblock %}

