{% extends "layout.html" %}

{% block nav %}
{% endblock %}

{% block content %}

  <div class="col-sm-4 col-lg-3  pull-right">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Login to your account</h3></div>
      <div class="panel-body">

       {% if error %}<p class="bg-danger" style="padding:0px 5px;">{{ error }}</p>{% endif %}
       <form role="form" action="{{ url_for('login') }}" method=post>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
          <input type="password" class="form-control" name="password" placeholder="Password">
          
        </div>

        <div style="text-align: center;">
          <button type="submit" class="btn btn-sm btn-primary">Login</button></br></br>
          <a href="{{ url_for('forgot_password') }}">Forgot your password?</a></br>
          Need an account? <a href="{{ url_for('register') }}">Register</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

