{% extends "layout.html" %}
{% from 'macros.html' import input %}
{% block nav %}
{% endblock %}

{% block content %}


  <div class="col-lg-4 col-md-5 col-sm-7 col-xs-9 pull-right">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Login to your account</legend>
        <form class="form-horizontal" role="form" action="{{ url_for('login') }}" method=post>
          <fieldset>

            {% if error %}
            <div class="form-group">
              <div class="has-error nopad col-xs-8 pull-right">
                <span class="help-block">{{ error }}</span>
              </div>
            </div>
            {% endif %}

            {% set f = {} %}
            {% if request is defined %}
            {% set f = request.form %}
            {% endif %}

            {{ input('username', 'Username', error.username, f.username) }}
            {{ input('password', 'Password', error.password, '', type='password') }}

            <div class="form-group">
              <div class="col-xs-8 col-xs-offset-4">
                
                <button type="submit" class="btn btn-primary" style="-webkit-user-select: auto;">Login</button>
                </br></br>
                <a href="{{ url_for('forgot_password') }}">Forgot your password?</a></br>
                Need an account? <a href="{{ url_for('register') }}">Register</a>


              </div>
            </div>

          </fieldset>
        </form>
    </div>
  </div>
</div>



{% endblock %}

