
{%- macro textarea(name, value='', rows=10, cols=40) -%}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols
        }}">{{ value|e }}</textarea>
{%- endmacro %}

{% macro show_cards(profiles) %}
    {% for profile in profiles %}
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card">
        <a href="#" data-username="{{ profile.username }}" class="profile_link">  

          <div class="profile_imgd ">
                <div class="overlay">
                   <input type="hidden" value="{{ profile.scaled_score }}" class="dial" 
                   data-width="80" data-readOnly=true data-linecap=round 
                   data-bgColor="white" data-fgColor="{{ profile.colour }}" 
                   data-displayInput=false data-thickness="0.13">
                 </div>
            <img src="{{ url_for('profile_img', username=profile.username) }}"  
                 class="img-circle profile_img" alt="..." >
                 
          </div>
   

          <div class="panel panel-default profile_info">
            <div class="panel-body">
              {{ profile.username }}
              <br>
              {{profile.age}}, {{profile.gender}}
            </div>

          </div>
        </a>
      </div>
    {% endfor %}
{% endmacro %}



{% macro input(name, label, error='', value='', type='text', placeholder='') -%}
  <div class="form-group{% if error %} has-error{% endif %}">
    <label for="{{ name }}" class="col-xs-4 control-label" >{{ label }}</label>
    <div class="col-xs-8">
      <input type="{{ type }}" class="form-control input-sm" value="{{ value|e }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
      {% if error %}
            <span class="help-block">{{ error }}</span>
      {% endif %}
    </div>

  </div>
{%- endmacro %}






{% macro select(name, label, error='', values=[], selected='', placeholder='') -%}

  <div class="form-group{% if error %} has-error{% endif %}">
    <label for="{{ name }}" class="col-xs-4 control-label" >{{ label }}</label>
    <div class="col-xs-8">
      <select class="form-control input-sm" name="{{ name }}" id="{{ name }}">
          <option value="" {% if not selected %} selected {% endif %} disabled="disabled" style='display:none;color: #999;'>{{ placeholder }}</option>
          {% for value in values %}
          <option value="{{ value }}" {% if selected==value %} selected {% endif %}>{{ value }}</option>
          {% endfor %}

      </select>

      {% if error %}
            <span class="help-block">{{ error }}</span>
      {% endif %}
    </div>
  </div>

{%- endmacro %}