{% from 'macros.html' import inputpanel %}

{% set f = g.user %}
{% if request is defined and request.method == 'POST' %}
{% set f = request.form %}
{% endif %}



<div class="col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
 
        <legend>Change your password</legend>
        <form class="form-horizontal" id="formPass" role="form"  method=post>
          <fieldset>
            {{ inputpanel('oldpassword', 'Old', error.oldpassword, '', type='password') }}

            {{ inputpanel('password', 'New', error.password, '', type='password') }}

               <div class="form-group">
              <div class="col-xs-10 col-xs-offset-2">
                <button type="submit" class="btn btn-primary" style="-webkit-user-select: auto;">Change</button>
                {% if changed %} <em>Changed</em> {% endif %} 
              </div>
            </div>

          </fieldset>
        </form>
    </div>
  </div>
</div>